html,
body {
  margin: 0;
  padding: 0;
}

#florence {
  height: 100vh;
  background: url("/images/home.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#duomo {
  height: 100vh;
  background: url("/images/florence.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#florence {
  width: 100%;
  height: 100vh;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto;
}
#florence h1 {
  background: #c5dbf0;
  background: rgba(197, 219, 240, 0.75);
  text-transform: uppercase;
  font-family: serif;
  font-weight: bold;
  letter-spacing: 0.06em;
  font-size: 3em;
  color: #f7690a;
  text-align: center;
  transform: translateZ(-0.025px);
}
#florence h2 {
  background: #c5dbf0;
  background: rgba(197, 219, 240, 0.85);
  font-family: serif;
  font-weight: bold;
  color: #f7690a;
  font-size: 2.5em;
  text-align: center;
  transform: translateZ(-0.25px);
}

#duomo {
  width: 100%;
  height: 100vh;
  perspective: 1px;
  transform: translateZ(-1px);
  overflow-x: hidden;
  overflow-y: auto;
}
#duomo h3 {
  background: #c5dbf0;
  background: rgba(197, 219, 240, 0.85);
  text-transform: uppercase;
  font-family: serif;
  font-weight: bold;
  color: #f7690a;
  font-size: 4em;
  text-align: center;
  transform: translateZ(-1px);
}
#duomo h6 {
  background: #c5dbf0;
  background: rgba(197, 219, 240, 0.85);
  font-family: serif;
  font-weight: bold;
  color: #f7690a;
  font-size: 1em;
  text-align: center;
}

p {
  padding: 5%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.5;
  color: #dd7c36;
  background-color: #edddc4;
}
